<nav class="m-navpage">

  <!-- FULL NAV -->
  <div class="m-navpage__container">
    <div class="m-navpage__menu h-cb-white">

      <!-- SPACING -->
      <section class="h-padding-tb1">
        <div class="row expanded align-center align-middle">
          <div class="small-6 columns">
            <span>
              <a href="/"><img class="inlinelogo" src="/assets/img/logo.svg" alt="[LOGO]"></a>
            </span>
          </div>
          <div class="small-6 columns h-tx-right">
            <a class="js-m-navpage-toggle">
              <i class="fas fa-bars h-cursor-pointer" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </section>
      <!-- END SPACING -->

      <section>
        <div class="row">
          <div class="small-12 columns">
            <hr class="h-opacity-4 h-margin-none-t">
            <a class="a-button--clear h-full" href="/services">
              Services
              <span class="h-float-right">⟶</span>
            </a>
            <hr class="h-opacity-4">
            <a class="a-button--clear h-full" href="/quote">
              Quote
              <span class="h-float-right">⟶</span>
            </a>
            <hr class="h-opacity-4">
            <a class="a-button--clear h-full" href="/blog">
              Blog
              <span class="h-float-right">⟶</span>
            </a>
            <hr class="h-opacity-4">
            <a class="a-button--clear h-full" href="/apps/directory">
              Apps
              <span class="h-float-right">⟶</span>
            </a>
            <hr class="h-opacity-4">
          </div>
        </div>
      </section>

    </div>
  </div>
  <!-- END FULL NAV -->


  <!-- HEADER -->
  <section class="m-navpage__bar h-cb-white">
    <div class="row expanded align-center align-middle">
      <div class="small-6 columns">
        <span>
          <a href="/"><img class="inlinelogo" src="/assets/img/logo.svg" alt="[LOGO]"></a>
        </span>
      </div>
      <div class="small-6 columns h-tx-right">
        <a class="js-m-navpage-toggle">
          <i class="fas fa-bars h-cursor-pointer" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </section>
  <!-- END HEADER -->

  <!-- SPACING -->
  <section class="h-padding-tb1 h-cb-gradient">
    <div class="row expanded align-center align-middle">
      <div class="small-6 columns">
        <span>
          <a href="/"><img class="inlinelogo" src="/assets/img/logo_white.svg" alt="[LOGO]"></a>
        </span>
      </div>
      <div class="small-6 columns h-tx-right">
      </div>
    </div>
  </section>
  <!-- END SPACING -->

</nav>

{% if page.url == "/" %}
<!-- BANNER -->
<!-- <a href="">
  <div class="row expanded align-center h-cb-primary h-padding-tb05">
    <div class="small-12 columns h-tx-white h-tx-spaced h-tx-small">
      &#128293; MESSAGE TO DISPLAY <i class="fas fa-long-arrow-alt-right"></i>
    </div>
  </div>
</a> -->
<!-- END BANNER -->
{% endif %}
